    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-img-top:hover {
    transform: scale(1.1);
  }
  
  



  .custom-arrow {
  color: black;
  font-size: 1.5rem; /* opcional: agrandar un poco las flechas */
}

#toast-container {
    position: fixed !important;
    bottom: 1rem !important;   /* distancia desde el borde inferior */
    right: 1rem !important;    /* distancia desde el borde derecho */
    top: auto !important;      /* asegurar que no se posicione arriba */
    left: auto !important;
    z-index: 9999 !important;  /* encima de todo */
}
/* Colores de Toastr personalizados */
.toast-success {
    background-color: #4CAF50 !important;  /* verde */
    color: #fff !important;
}

.toast-info {
    background-color: #2196F3 !important;  /* azul */
    color: #fff !important;
}

.toast-warning {
    background-color: #FFC107 !important;  /* amarillo */
    color: #000 !important;
}

.toast-error {
    background-color: #F44336 !important;  /* rojo */
    color: #fff !important;
}
