body.dark-mode {
      background-color: #121212;
      color: #eee;
    }
    body.dark-mode .card {
      background-color: #1e1e1e;
      border-color: #444;
      color: #eee;
    }
    body.dark-mode .card-header.bg-primary {
      background-color: #303030 !important;
    }
    body.dark-mode .card-header.bg-success {
      background-color: #198754 !important;
    }
    body.dark-mode .card-header.bg-warning {
      background-color: #ffc107 !important;
      color: #212529 !important;
    }
    body.dark-mode footer.bg-primary {
      background-color: #303030 !important;
      color: #eee !important;
    }

    /* Colores del header y footer */
.light-header-footer {
  background-color: #385a7f !important;
}

.dark-header-footer {
  background-color: #303030 !important;
}

