@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-primary: #375a80;
    --color-secondary: #fefefe;
    --color-success: #198754;
    --color-danger: #dc3545;  
    --color-warning: #ffc107;
    --color-info: #0dcaf0;
    --color-light: #f8f9fa;
    --color-dark: #212529;
}

.product-card.fly-anim {
  animation: fly-card 0.7s cubic-bezier(0.4,0,0.2,1);
}
@keyframes fly-card {
  0%   { transform: translate(0,0) scale(1) rotate(0deg); opacity:1; }
  60%  { transform: translate(120px,-180px) scale(0.9) rotate(-8deg); opacity:0.6; }
  100% { transform: translate(0,0) scale(1) rotate(0deg); opacity:1; }
}

@view-transition{
    navigation: auto;
}

::view-transition-old(root){
    animation: slide-out-to-left 0.5s forwards;
}
::view-transition-new(root){
    animation: slide-in-from-right 0.5s forwards;
}

@keyframes slide-out-to-left {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}
@keyframes slide-in-from-right {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}